@use 'sass:color';

$primary-color: rgba(26, 26, 26, 1);
$black-1000: $primary-color;
$black-900: color.scale($primary-color, $lightness: 10%);
$black-800: color.scale($primary-color, $lightness: 20%);
$black-700: color.scale($primary-color, $lightness: 30%);
$black-600: color.scale($primary-color, $lightness: 40%);
$black-500: color.scale($primary-color, $lightness: 50%);
$black-400: color.scale($primary-color, $lightness: 60%);
$black-300: color.scale($primary-color, $lightness: 70%);
$black-200: color.scale($primary-color, $lightness: 80%);
$black-100: color.scale($primary-color, $lightness: 90%);
$black-0: rgba(230, 230, 230, 1);
$secondary-color: $black-0;

$desktop-padding: 5vw;

$accent-color: rgba(242, 166, 13, 1);
$accent-color-shadow: rgba(86, 148, 255, 0.5);

$katch-color: rgba(58, 104, 143, 1);
$katch-color-shadow: rgba(58, 104, 143, 0.5);
$sismo-color: rgb(19, 32, 62);
$sismo-color-shadow: rgba(19, 32, 62, 1);
$tomo-color: #2f5966;
$tomo-color-shadow: rgba(47, 89, 102, 0.5);
$focusmate-color: #3C4087;
$focusmate-color-shadow: rgba(60, 64, 135, 0.5);
$tidbits-color: #D6C9B9;
$tidbits-color-shadow: rgba(214, 201, 185, 0.5);

$font-stack: "myriad-pro", sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-size: 24px;
    line-height: 135%;
    text-decoration: none;
    cursor: none;
}

::selection{
    background-color: $accent-color;
    color: $primary-color;
}

::-moz-selection{
    background-color: $accent-color;
    color: $primary-color;
}

::-webkit-selection{
    background-color: $accent-color;
    color: $primary-color;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
    color: $secondary-color;
    display: grid;
    width: 100vw;
    overflow-x: hidden;
    cursor: none;
}

.custom-cursor {
    position: fixed;
    display: grid;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-size: 4px;
    line-height: 12px;
    //vertical-align: middle;
    background-color: rgba($accent-color, 1);
    color: $primary-color;
    border: .1em dashed $accent-color;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    z-index: 9999;
}

.custom-cursor.hovered {
    transform: translate(-50%, -50%) scale(3);
    color: $accent-color;
    background-color: rgba($primary-color, 0.5);
    backdrop-filter: blur(3px);
}

h1, h2, h3 {
    line-height: 100%;
    letter-spacing: -0.02em;
}

h1, h2, h3, p{
    opacity: 0;
    animation-name: into-view;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

h1 {
    font-size: 5em;
    //text-transform: uppercase;
}

h2 {    
    font-size: 3em;
}

h3 {
    color: $black-700;
    font-weight: 600;
    font-size: 1.25em;
}

a {
    cursor: none;
}

p {
    font-weight: 500;
}

#katch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 70vh;
    overflow: hidden;
    padding: 0% 2.5% 0 2.5%;
    .to-top-div, .to-bottom-div {
        display: grid;
        align-items: center;
        gap: 1em;
        img {
            position: relative;
            width: 100%;
            height: auto;
            //filter: saturate(25%);
            transition: filter .5s linear, transform 50s linear;
        }
    }

    &:hover {

        .to-top-div img {
            //filter: saturate(100%);
            transform: translateY(-500vh);
        }

        .to-bottom-div img {
            //filter: saturate(100%);
            transform: translateY(500vh);
        }
    
    }
}


#hero {
    font-family: "Cormorant", serif;
    margin-bottom: .75em;
    //font-weight: bold;
    line-height: 20%;
    font-size:5rem;
    #emp {
        font-size: 5rem;
        font-style: italic;
        font-family: "Cormorant", serif;
        color: $accent-color;
    }
}



nav a, footer a {
    color: $secondary-color;
    text-decoration: none;
}

ul {
    list-style: none;
}

#navbar {
    display: flex;
    position: fixed;
    background: hsla(0, 0%, 10%, .4) center/cover;
    //backdrop-filter: blur(3px);
    cursor: none;
    border: 0px $black-900 solid;
    border-radius: 1.5rem;
    top: 1.5%;
    left: 1.5%;
    padding: 1.5%;
    z-index: 3;
    gap: 0.5em;
    opacity: 1;
    transition: opacity .75s ease-in-out;
    transition-delay: .25s;
    letter-spacing: 0;
    
    .links {
        display: grid;
        gap: 0.25em;
        .nav-item, #brand-name {
            padding: 0;
            font-size: 0.75em;
            letter-spacing: 0.02em;
            transition: color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
        }
        .nav-item {
            color: $secondary-color;
        }
        #brand-name {
            color: $accent-color;
        }

    }

}

#nav-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: $accent-color;
}


#navbar.hidden {
    opacity: 0;
    letter-spacing: 0.05em;
}

.section-divider {
    width: 100%;
    background-color: $black-800;
    height: 1px;
    z-index: 0;
}

.hero {
    padding-left: 5%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

section, .section, main {
    display: grid;
}

section, .section {
    padding: $desktop-padding;
    gap: 1em;
}

main {
    padding: 0;
    gap: 0;
    .header {
        padding: $desktop-padding;
        padding-bottom: calc($desktop-padding/2);
    }
}

#case-studies {
    background: hsla(0, 0%, 10%, 0) center/cover;
    backdrop-filter: blur(3px);
    padding-top: calc($desktop-padding/2);
}

.v-content {
    display: flex;
    gap: .5em;   
}

.columns {
    display: flex;
    gap: 0em;
    width: 100%;
    z-index: 2;
}

.before-after {
    position: relative;
    width: 100%;    
    &:hover {
        .after-img-cont {
            transform: translateX(-50%);
        }
    }
}

.before-img-cont, .after-img-cont {
    height: 100%;
    position: absolute;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.before-img-cont{
    left: 0;
    width: 50%;
    z-index: 0;
}

.after-img-cont {
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: red;
    overflow: hidden;
}

.before-img, .after-img{
    position: relative;
    min-width: 200%;
    height: auto;
    overflow: hidden;
}

.after-img {
    //min-width: 2%;
    left: 50%;
    object-fit: contain;
    transform: translateX(-50%);
    overflow: hidden;
}

a {
    cursor: none;
    color: $secondary-color;
}

#blog {
    z-index: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em $desktop-padding 1em $desktop-padding;
    #contact {
        display: grid;
        gap: 1em;
        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            border-radius: 5em;
 
            & #email {
                background-color: $accent-color;
                i {
                    color: $primary-color;
                    border: none;
                }
            }
            &#linkedin {
                background-color: #0072b1;
                i {
                    border: none;
                }
            }
            &#medium {
                background-color: $black-700;
                i {
                    border: none;
                }
            }
        }
    }
}

#gradient-bg {
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 0; right: 0; bottom: 0; left: 30%;
    background: linear-gradient(to right, rgba(26, 26, 26, 1), rgba(26, 26, 26, 0));
    z-index: 0;
}

#moving-bg-outside {
    width: 70%;
    height: 100%;
    right: 0;
    position: fixed;
    overflow-y: hidden;
    z-index: -1;   
}

#moving-bg-inside {
    top: 0;
    right: 0;
    left: 50;
    position: absolute;
    width: 100%;
    height: 50000vh;
}

.details {
    padding: $desktop-padding;
    padding-left: 0;
    display: grid;
    align-content: end;
    gap: 1em;
    z-index: 2;
}

.right {
    padding: $desktop-padding;
    padding-right: 0;
    width: fill;
    overflow: hidden;
}

#to-top {
    background-color: $primary-color;
    color: $primary-color;
    position: fixed;
    display: grid;
    justify-content: center;
    border: .1em dashed $accent-color;
    border-radius: 5em;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    bottom: $desktop-padding;
    right: $desktop-padding;
    animation: to-top-rotate 10s linear infinite;
    z-index: 50;
    svg {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;
        fill: $accent-color;
        animation: to-top-rotate-in 10s linear infinite;
    }
}

#katch, #sismo, #tomo, #focusmate, #tidbits {
    //border: 1px $black-900 solid;
    //border-radius: 1em;
    //background: hsla(0, 0%, 0%, 0) center/cover;
    //backdrop-filter: blur(3px);
}

#sismo, #tomo, #focusmate, #tidbits {
    width: 50%;
    height: 50vh;
    padding: 0;
    overflow: hidden;
    img {
        width: 100%;
        //height: 100%;
        object-fit: contain;
        //overflow: hidden;
        //filter: saturate(25%);
        transition: filter .5s linear, transform 5s linear;
    }
    &:hover {
        img {
            //filter: saturate(100%);
            transform: translateY(-100%);
        }
    }
}

#tomo {
    img {
        transition: transform .5s linear;
    }
    &:hover {
        img {
            transform: scale(1.25);
        }
    }
}

.archives {
    display: grid;
    padding: $desktop-padding;
}

.archived-card {
    padding: calc($desktop-padding/4);
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.archived-card-description {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

/*
#katch {
    box-shadow: 0px 0px 20px $katch-color-shadow;
}

#sismo {
    box-shadow: 0px 0px 20px $sismo-color-shadow;
}

#tomo {
    box-shadow: 0px 0px 20px $tomo-color-shadow;
}

#focusmate {
    box-shadow: 0px 0px 20px $focusmate-color-shadow;
}

#tidbits {
    box-shadow: 0px 0px 20px $tidbits-color-shadow;
}
*/

@keyframes moveBackground {
    0% {
        top: 0vh;
    }
    50% {
        top: -100vh;
    }
    100% {
        top: -200vh;
    }
}

@keyframes into-view {
    0% {opacity: 0%; transform: translateY(-.25em);}
    100% {opacity: 100%; transform: translateY(0em);}
}

#moving-bg-inside {
    animation: moveBackground 100s linear infinite;
}

@keyframes to-top-rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes to-top-rotate-in {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

@media(max-width: 700px) {
    * {
        font-size: 16px;
        margin: 1.5% 2.5%;
    }

    div {
        max-width: 100%;
    }
}

