@use 'sass:color';

$black: rgba(26, 26, 26, 1);
$dark-gray: color.scale($black, $lightness: 5%);
$mid-gray: color.scale($black, $lightness: 50%);
$light-gray: color.scale($black, $lightness: 90%);
$white: rgba(230, 230, 230, 1);
$orange: rgba(242, 166, 13, 1);

$desktop-padding: 5vw;
$typo-scale: 1.5;
$font-stack: "myriad-pro", sans-serif;
$base-font-size: 24px;

$katch-color: rgba(58, 104, 143, 1);
$katch-color-shadow: rgba(58, 104, 143, 0.5);
$sismo-color: rgb(19, 32, 62);
$sismo-color-shadow: rgba(19, 32, 62, 1);
$tomo-color: #2f5966;
$tomo-color-shadow: rgba(47, 89, 102, 0.5);
$focusmate-color: #3C4087;
$focusmate-color-shadow: rgba(60, 64, 135, 0.5);
$tidbits-color: #D6C9B9;
$tidbits-color-shadow: rgba(214, 201, 185, 0.5);
$vidbib-color: #6E6BFF;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-size: $base-font-size;
    line-height: 135%;
    text-decoration: none;
    //cursor: none;
}

::selection {
    background-color: $orange;
    color: $black;
}

::-moz-selection{
    background-color: $orange;
    color: $black;
}

::-webkit-selection{
    background-color: $orange;
    color: $black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    color: $white;
    display: grid;
    width: 100vw;
    overflow-x: hidden;
    //cursor: none;
}

.custom-cursor {
    position: fixed;
    display: grid;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-size: 4px;
    line-height: 12px;
    //vertical-align: middle;
    background-color: rgba($orange, 1);
    color: $black;
    border: .1em dashed $orange;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    z-index: 9999;
}

.custom-cursor.hovered {
    transform: translate(-50%, -50%) scale(3);
    color: $orange;
    background-color: rgba($black, 0.5);
    backdrop-filter: blur(3px);
}

h1 {
    font-weight: 600;
    color: $white;
    font-size: calc($base-font-size*$typo-scale*$typo-scale*$typo-scale);
}



h2 {    
    font-size: calc($base-font-size*$typo-scale*$typo-scale);
    font-weight: 600;
}

h3 {
    color: $white;
    font-weight: 500;
    font-size: calc($base-font-size*$typo-scale);
}

.header > h3 {
    color: $mid-gray;
}

h1, h2, h3 {
    line-height: 100%;
    letter-spacing: -0.02em;
}

h1, h2, h3, p {
    opacity: 0;
    animation-name: into-view;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    margin: 0;
    //vertical-align: baseline;
}

h2, h3, p {
    color: $mid-gray;
}

.case-study-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    overflow: hidden;
    border-radius: .5em;
    border-width: .25vh; border-style: solid;
    height: 50vh;
    max-height: 50vh;
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    padding: .5vw;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center;
        border-radius: .5em;
        transition: transform .3s ease-in;
    }

    &:hover {
        img { 
            transform: scale(1.04);
        }
    }
}

#katch {
    padding-left: 1%;
    padding-right: 1%;   
    box-shadow: 0px 0px 20px $katch-color-shadow;
    background: linear-gradient(to right, rgba(82,136,178,1), rgba(99,147,185, 1));
    border-color: rgba(82,136,178,0.5); 
    img {
        min-width: 45%;
        height: 250%;
        object-fit: contain;
        transition: transform 1.5s ease-in;

    }
    :nth-child(1), :nth-child(3) {
        top: 50%;
    }
    :nth-child(2) {
        top: 30%;
    }
    &:hover {
        img {
            transform: translateY(-17.5%);
        }
    }
}

#sismo {
    box-shadow: 0px 0px 20px $sismo-color-shadow;
    border-color: rgba(125,134,191,1);
    background: var(--Gradient, linear-gradient(286deg, #193970 -75.26%, #12203D 72.97%));    
    img {
        object-fit: cover;
    }
}

#tomo {
    box-shadow: 0px 0px 20px $tomo-color-shadow;
    border-color: #284C57;
    background-color: #1D3239;
    padding: 0;
    img {
        object-fit: cover;
    }
}

#focusmate {
    box-shadow: 0px 0px 20px $focusmate-color-shadow;
    background-color: $focusmate-color;
    border-color: $focusmate-color;
    padding: 0;
    img {
        object-fit: cover;
    }
}

#tidbits {
    box-shadow: 0px 0px 20px $tidbits-color-shadow;
    background-color: $tidbits-color;
    border-color: $tidbits-color;
    padding: 0;
    img {
        position: relative;
        top: 200%;
        height: 500%;
        object-fit: cover;
        transition: transform 4.5s ease-in;
    }
    &:hover {
        img {
            transform: translateY(-80%);
        }
    }
}

#vidbib {
    box-shadow: 0px 0px 20px $tidbits-color-shadow;
    background-color: $vidbib-color;
    border-color: $vidbib-color;
    padding: 0;
    img {
        object-fit: cover;
    }
}



.archived-card > h3 {
    color: $white;
}

p {
    position: relative;
    font-weight: 500;
    line-height: 150%;
}

a {
    //cursor: none;
}

/*
#katch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 70vh;
    overflow: hidden;
    padding: 0% 2.5% 0 2.5%;
    .to-top-div, .to-bottom-div {
        display: grid;
        align-items: center;
        gap: 1em;
        img {
            position: relative;
            width: 100%;
            height: auto;
            //filter: saturate(25%);
            transition: filter .5s linear, transform 50s linear;
        }
    }
    

    &:hover {

        .to-top-div img {
            //filter: saturate(100%);
            transform: translateY(-500vh);
        }

        .to-bottom-div img {
            //filter: saturate(100%);
            transform: translateY(500vh);
        }
    
    }
}
*/


#hero-headline {
    font-family: "Cormorant", serif;
    margin-bottom: .5em;
    //font-weight: bold;
    line-height: 20%;
    font-size:5rem;
    #emp {
        font-size: 5rem;
        font-style: italic;
        font-family: "Cormorant", serif;
        color: $orange;
    }
}



nav a, footer a {
    color: $mid-gray;
    text-decoration: none;
}

ul {
    list-style: none;
}

#navbar {
    display: flex;
    position: fixed;
    background: rgba($black, 0.75) center/cover;
    //backdrop-filter: blur(3px);
    //cursor: none;
    border: 0px $dark-gray solid;
    border-radius: 1.5rem;
    top: 1.5%;
    left: 1.5%;
    padding: 1.5%;
    z-index: 3;
    gap: 0.5em;
    opacity: 1;
    transition: opacity .75s ease-in-out;
    transition-delay: .25s;
    letter-spacing: 0;
    
    .links {
        display: grid;
        gap: 0.25em;
        .nav-item, #brand-name {
            padding: 0;
            font-size: calc($base-font-size/$typo-scale);
            letter-spacing: 0.02em;
            transition: color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
        }
        .nav-item {
            color: $white;
            &.active {
                color: red;
            }
        }
        #brand-name {
            color: $orange;
        }

    }

}

.div-with-emp {

}

#nav-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: $orange;
}


#navbar.hidden {
    opacity: 0;
    letter-spacing: 0.05em;
}

.section-divider {
    width: 100%;
    background-color: $dark-gray;
    height: 1px;
    z-index: 0;
}

#hero-section {
    padding-left: 5%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

section, .section, main {
    display: grid;
    padding: calc($desktop-padding/2) $desktop-padding calc($desktop-padding/2) $desktop-padding;
    gap: 2.5em;
}

main {
    align-content: center;
    background: rgba($black, 0) center/cover;
    backdrop-filter: blur(3px);
}

.v-content {
    display: flex;
    gap: .5em;   
}

.columns {
    display: flex;
    justify-content:left;
    gap: 2.5em;
    max-width: 100%;
    overflow: hidden;
    z-index: 2;
}

.before-after {
    position: relative;
    width: 100%;    
    &:hover {
        .after-img-cont {
            transform: translateX(-50%);
        }
    }
}

.before-img-cont, .after-img-cont {
    height: 100%;
    position: absolute;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.before-img-cont{
    left: 0;
    width: 50%;
    z-index: 0;
}

.after-img-cont {
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: red;
    overflow: hidden;
}

.before-img, .after-img{
    position: relative;
    min-width: 200%;
    height: auto;
    overflow: hidden;
}

.after-img {
    //min-width: 2%;
    left: 50%;
    object-fit: contain;
    transform: translateX(-50%);
    overflow: hidden;
}

a {
    //cursor: none;
    color: $white;
}

#blog {
    z-index: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em $desktop-padding 1em $desktop-padding;
    #contact {
        display: grid;
        gap: 1em;
        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            border-radius: 5em;
 
            & #email {
                background-color: $orange;
                i {
                    color: $black;
                    border: none;
                }
            }
            &#linkedin {
                background-color: #0072b1;
                i {
                    border: none;
                }
            }
            &#medium {
                background-color: $dark-gray;
                i {
                    border: none;
                }
            }
        }
    }
}

#gradient-bg {
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 0; right: 0; bottom: 0; left: 30%;
    background: linear-gradient(to right, rgba($black, 1), rgba($black, 0));
    z-index: 0;
}

#moving-bg-outside {
    width: 70%;
    height: 100%;
    right: 0;
    position: fixed;
    overflow-y: hidden;
    z-index: -1;   
}

#moving-bg-inside {
    top: 0;
    right: 0;
    left: 50;
    position: absolute;
    width: 100%;
    height: 50000vh;
}

.details {
    padding: $desktop-padding;
    padding-left: 0;
    display: grid;
    align-content: end;
    gap: 1em;
    z-index: 2;
}

.details h1 {
    color: $white;
}

.right {
    padding: $desktop-padding;
    padding-right: 0;
    width: fill;
    overflow: hidden;
}

#to-top {
    background-color: $black;
    color: $black;
    position: fixed;
    display: grid;
    justify-content: center;
    border: .1em dashed $orange;
    border-radius: 5em;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    bottom: $desktop-padding;
    right: $desktop-padding;
    animation: to-top-rotate 10s linear infinite;
    z-index: 50;
    svg {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;
        fill: $orange;
        animation: to-top-rotate-in 10s linear infinite;
    }
}

.archives {
    display: grid;
    //padding: $desktop-padding;
}

.archived-card {
    padding: calc($desktop-padding/4);
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.archived-card-description {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

@keyframes moveBackground {
    0% {
        top: 0vh;
    }
    50% {
        top: -100vh;
    }
    100% {
        top: -200vh;
    }
}

@keyframes into-view {
    0% {opacity: 0%; transform: translateY(-.25em);}
    100% {opacity: 100%; transform: translateY(0em);}
}

#moving-bg-inside {
    animation: moveBackground 100s linear infinite;
}

@keyframes to-top-rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes to-top-rotate-in {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

@media(max-width: 700px) {
    * {
        $base-font-size: 16px;
        margin: 1.5% 2.5%;
    }

    div {
        max-width: 100%;
    }
}

