@use 'sass:color';

$black: #1a1a1a;
$dark-gray: color.scale($black, $lightness: 5%);
$mid-gray: color.scale($black, $lightness: 50%);
$light-gray: color.scale($black, $lightness: 90%);
$white: rgba(230, 230, 230, 1);
$orange: rgba(242, 166, 13, 1);

$desktop-padding: 5vw;
$typo-scale: 1.5;
$font-stack: "myriad-pro", sans-serif;
$base-font-size: 24px;

$katch-color: rgba(58, 104, 143, 1);
$sismo-color: #13203e;
$sismo-border-color: rgba(125,134,191,1);
$tomo-color: #2f5966;
$focusmate-color: #3C4087;
$paro-color: #D6C9B9;
$vidbib-color: #6E6BFF;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-size: $base-font-size;
    line-height: 135%;
    text-decoration: none;
    //cursor: none;
}

::selection {
    background-color: $orange;
    color: $black;
}

::-moz-selection{
    background-color: $orange;
    color: $black;
}

::-webkit-selection{
    background-color: $orange;
    color: $black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    color: $white;
    display: grid;
    width: 100vw;
    overflow-x: hidden;
    //cursor: none;
}




.custom-cursor {
    position: fixed;
    display: grid;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-size: 4px;
    line-height: 12px;
    //vertical-align: middle;
    background-color: rgba($orange, 1);
    color: $black;
    border: .1em dashed $orange;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    z-index: 9999;
}

.custom-cursor.hovered {
    transform: translate(-50%, -50%) scale(3);
    color: $orange;
    background-color: rgba($black, 0.5);
    backdrop-filter: blur(3px);
}

h1 {
    font-weight: 600;
    color: $white;
    font-size: calc($base-font-size*$typo-scale*$typo-scale*$typo-scale);
    
    &::after {
        content: " — ";
    }
}



h2 {    
    font-size: calc($base-font-size*$typo-scale*$typo-scale);
    font-weight: 600;
}

h3 {
    color: $white;
    font-weight: 500;
    font-size: calc($base-font-size*$typo-scale);
}

.header > h3 {
    color: $mid-gray;
}

h1, h2, h3 {
    line-height: 100%;
    letter-spacing: -0.02em;
}

blockquote {
    border-left: .1em $orange solid;
    margin-top: .5em;
    padding: calc($desktop-padding / 4) 0 calc($desktop-padding / 4) calc($desktop-padding / 2);
    color: $orange;
    line-height: 200%;
    footer {
        padding-top: 1.5em;
        background-color: transparent;
        color: $orange;
        font-style: italic;
    }
}

#emp{
    &::after {
        content:" — ";
    }
}

#hero-description {
    width: 55%;
}

h1, h2, h3, p, i, img {
    opacity: 0;
    animation-name: into-view;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    margin: 0;
    //vertical-align: baseline;
}

h3, p {
    color: $mid-gray;
}

.case-study-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border-radius: .5em;
    border-width: .25vh; border-style: solid;
    height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    padding: .5vw;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center;
        //border-radius: .5em;
        transition: transform .3s ease-in;
    }

    &:hover {
        img { 
            transform: scale(1.04);
        }
    }
}

#katch {
    padding-left: 1%;
    padding-right: 1%;   
    box-shadow: 0px 0px 0px $katch-color;
    //background: linear-gradient(to right, rgba(82,136,178,1), rgb(23, 58, 87));
    background-color: color.scale($katch-color, $lightness: -50%);
    border-color: rgba(82,136,178,0.5); 
    img {
        min-width: 45%;
        height: 250%;
        object-fit: contain;
        transition: transform 1.5s ease-in;

    }
    :nth-child(1), :nth-child(3) {
        top: 50%;
    }
    :nth-child(2) {
        top: 30%;
    }

    transition: box-shadow 0.3s ease-in -0.05s, border-width 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px 2px $katch-color;
        border-width: 0;
        img {
            transform: translateY(-17.5%);
        }
    }
}

#sismo {
    box-shadow: 0px 0px 0px $sismo-border-color;
    border-color: $sismo-border-color;
    background: var(--Gradient, linear-gradient(286deg, #193970 -75.26%, #12203D 72.97%));    
    img {
        object-fit: cover;
    }

    transition: box-shadow 0.3s ease-in -0.05s, border-width 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px 2px $sismo-border-color;
        border-width: 0;
        img { 
            transform: scale(1.02);
        }
    }
}

#tomo {
    box-shadow: 0px 0px 0px $tomo-color;
    border-color: #284C57;
    background-color: #1D3239;
    padding: 0;
    img {
        object-fit: cover;
    }
    transition: box-shadow 0.3s ease-in -0.05s, border-width 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px 2px $tomo-color;
        border-width: 0;
        img { 
            transform: scale(1.02);
        }
    }


}

#focusmate {
    box-shadow: 0px 0px 0px $focusmate-color;
    background-color: $focusmate-color;
    border-color: $focusmate-color;
    padding: 0;
    img {
        object-fit: cover;
    }
    transition: box-shadow 0.3s ease-in -0.05s, border-width 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px 2px $focusmate-color;
        border-width: 0;
        img { 
            transform: scale(1.02);
        }
    }
}

#paro {
    box-shadow: 0px 0px 0px $paro-color;
    background-color: $paro-color;
    border-color: $paro-color;
    padding: 0;
    img {
        position: relative;
        top: 200%;
        height: 500%;
        object-fit: cover;
        transition: transform 4.5s ease-in;
    }
    transition: box-shadow 0.3s ease-in -0.05s, border-width 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px 2px $paro-color;
        border-width: 0;
        img {
            transform: translateY(-80%);
        }
    }
}

#vidbib {
    box-shadow: 0px 0px 0px $vidbib-color;
    background-color: $vidbib-color;
    border-color: $vidbib-color;
    padding: 0;
    img {
        object-fit: cover;
    }
    transition: box-shadow 0.3s ease-in -0.05s, border-width 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px 2px $vidbib-color;
        border-width: 0;
        img {
            transform: scale(1.02);
        }
    }
}



.archived-card > h3 {
    color: $white;
}

p {
    position: relative;
    font-weight: 500;
    line-height: 150%;
}

a {
    //cursor: none;
}

table {
    display: flex;
    gap: 5em;
    color: $mid-gray;
    th {
        text-align: left;
        line-height: 150%;
    }

    td {
        text-align: left;
        line-height: 150%;
    }
}

#hero-headline {
    font-family: "Cormorant", serif;
    margin-bottom: .5em;
    font-weight: bold;
    line-height: 20%;
    font-size:5rem;
    &::after {
        content: none;
    }
    #emp {
        font-size: 5rem;
        font-style: italic;
        font-family: "Cormorant", serif;
        color: $orange;
    }
}

p a, li a {
    border-bottom: .03em $mid-gray solid;
    transition: border-bottom-color 0.5s ease-in;
    &:hover {
        border-bottom-color: $white; 
    }
}

ul {
    display: grid;
    gap:0.5em;
    align-items: center;
    color: $mid-gray;
    li {
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 150%;
        position: relative;
        list-style: decimal;
    }
    li .no-dec {
        list-style: none;
    }
}

nav a {
    color: $mid-gray;
    text-decoration: none;
    border: none;
}

#navbar {
    display: flex;
    position: fixed;
    background: rgba($black, 0.75) center/cover;
    //backdrop-filter: blur(3px);
    //cursor: none;
    border: 0px $dark-gray solid;
    border-radius: 1.5rem;
    top: 1.5%;
    left: 1.5%;
    padding: 1.5%;
    z-index: 4;
    gap: 0.5em;
    opacity: 1;
    transition: opacity .75s ease-in-out;
    transition-delay: .25s;
    letter-spacing: 0;
    
    .links {
        display: grid;
        gap: 0.25em;
        .nav-item, #brand-name {
            padding: 0;
            font-size: calc($base-font-size/$typo-scale);
            letter-spacing: 0.02em;
            transition: color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
        }
        .nav-item {
            color: $white;
            &.active {
                color: red;
            }
        }
        #brand-name {
            color: $orange;
        }

    }

}

#nav-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: $orange;
}

#navbar.hidden {
    opacity: 0;
    letter-spacing: 0.05em;
}

.section-divider {
    width: 100%;
    background-color: $dark-gray;
    height: 1px;
    z-index: 10;
}

section, .section, main {
    position: relative;
    display: grid;
    padding: calc($desktop-padding/2) $desktop-padding calc($desktop-padding/2) $desktop-padding;
    gap: 2.5em;
    background: rgba($black, 0) center/cover;
    backdrop-filter: blur(3px);
    border-bottom: 1px $dark-gray solid;
    z-index: 1;
}

#hero-section {
    padding-left: 5%;
    padding-top: 0;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    overflow: hidden;
    backdrop-filter: none;
    z-index: 3;
}

main {
    align-content: center;
    background: rgba($black, 0) center/cover;
    backdrop-filter: blur(3px);
}

.v-content {
    display: flex;
    gap: .5em;   
}

.case-study-div {
    display: grid;
    justify-content: left;
    gap: 2.5em;
    max-width: 100%;
    z-index: 2;
    grid-template-columns: repeat(2, 1fr);
}

#tool-stack {
    i {
        font-size: 2em;
    }
    
    svg {
        height: 2em;
        fill: $white;
    }

    i, svg {
        transition: fill 0.3s ease-in, color 0.3s ease-in;
        &:hover {
            fill: $orange;
            color: $orange;
        }
    }
}

.before-after {
    position: relative;
    width: 100%;    
    &:hover {
        .after-img-cont {
            transform: translateX(-50%);
        }
    }
}

.before-img-cont, .after-img-cont {
    height: 100%;
    position: absolute;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.before-img-cont{
    left: 0;
    width: 50%;
    z-index: 0;
}

.after-img-cont {
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: red;
    overflow: hidden;
}

.before-img, .after-img{
    position: relative;
    min-width: 200%;
    height: auto;
    overflow: hidden;
}

.after-img {
    //min-width: 2%;
    left: 50%;
    object-fit: contain;
    transform: translateX(-50%);
    overflow: hidden;
}

a {
    //cursor: none;
    color: $white;
}

.br-div {
    height: 1em;
}

#about {
    #hand-wave {
        font-size: calc($base-font-size*$typo-scale);
    }
}

#blog {
    z-index: 1;
}

#socials-div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;

    .social {
        transition: color 0.3s ease-in, fill 0.3s ease-in;
        
        svg {
            width: 2em;
            height: 2em;
            transition: fill 0.3s ease-in;
        }

        i {
            font-size: 4em;
            transition: color 0.3s ease-in;
        }

        &:hover {
            i {
                color: $orange;
            }
            svg {
                fill: $orange;
            }
        }
    }
}



.contact {

    transition: color 0.5s ease-in; 

    .contact-card-in {
        display: flex;
        width: min-content;
        align-items: center;
        gap: 2em;
    }

    i {
        width: 1em;
        height: 1em;
        font-size: calc($base-font-size*$typo-scale);
    }

    #email {
        i, h3, p {
            color: $orange;
        }
    }
    
    #linkedin {
        
        i, h3, p {
            transition: color 0.5s ease-in; 
        }

        &:hover {
            i, h3, p {
                color: #0072b1;
            }
        }

    }

    #medium {
        
        i, h3, p {
            transition: color 0.5s ease-in; 
        }

        &:hover {
            i, h3, p {
                color: green;
            }
        }

    }

    #calendly {
        
        i, h3, p {
            transition: color 0.5s ease-in; 
        }

        &:hover {
            i, h3, p {
                color: rgb(0,108,255);
            }
        }

    }

    #github {
        
        i, h3, p {
            transition: color 0.5s ease-in; 
        }

        &:hover {
            i, h3, p {
                color: rgb(235, 255, 85);
            }
        }

    }








}

footer {
    padding: calc($desktop-padding/8);
    background-color: $orange;
    z-index: 3;
    > p {
        color: $black;
        text-align: center;
    }

    a {
        color: $black;
        border-bottom: none;
    }
}

#gradient-bg {
    position: fixed;
    width: 130%;
    height: 100vh;
    top: 0%; right: 30%; bottom: 0%; left: 0%;
    background: linear-gradient(to right, rgba($black, 1), rgba($black, 0));
    z-index: -1;
}

.moving-bg-outside {
    width: 100%;
    height: 100%;
    right: 0;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    &.katch-bg-outside {
        z-index: 0;
        height: 140vh;
        //background-color: color.scale($katch-color, $lightness: -60%);
        overflow: hidden;
    }
}

.moving-bg-inside {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50000vh;
    background-size: auto;
    background-repeat: repeat;
    overflow: hidden;
    &.index-bg {
        background-image: url('../assets/bg-plus.svg');
    }
    &.katch-bg-inside {
        background-image: url('../assets/bg-cross.svg');
    }
}

.details {
    padding: $desktop-padding;
    padding-left: 0;
    display: grid;
    align-content: end;
    gap: 1em;
    z-index: 2;
}

.details h1 {
    color: $white;
}

.right {
    padding: $desktop-padding;
    padding-right: 0;
    width: fill;
    overflow: hidden;
}

#to-top {
    background-color: $black;
    color: $black;
    position: fixed;
    display: grid;
    justify-content: center;
    border: .1em dashed $orange;
    border-radius: 5em;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    bottom: $desktop-padding;
    right: $desktop-padding;
    animation: to-top-rotate 10s linear infinite;
    z-index: 50;
    svg {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;
        fill: $orange;
        animation: to-top-rotate-in 10s linear infinite;
    }
}

.archives {
    display: grid;
    //padding: $desktop-padding;
}

.archived-card {
    padding: calc($desktop-padding/4);
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    background-color: none;
    transition: background-color 0.5s ease-in;
    &:hover {
        background-color: rgba($dark-gray, .5);
    }
}

.archived-card-description {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

.service-card {
    display: grid;
    gap: 1em;
    padding: calc(#{$desktop-padding} / 2);
    background-color: rgba($dark-gray,0.3);
    border-radius: .5em;
    width: 30%;
    justify-content: space-between;
    border: 1px color.scale($dark-gray, $lightness: 10%) solid;
    transition: box-shadow 0.3s ease-in -0.05s, border-color 0.3s ease-in, background-color 0.3s ease-in;

    i {
        font-size: 1.5em;
        color: $white;
    }

    .service-name {
        color: $white;
    }

    &:hover {
        box-shadow: 0px 0px 18px 2px color.scale($dark-gray, $lightness: 10%);
        border-color: rgba($dark-gray,0.3);
        background-color: rgba($dark-gray,0.6)
    }
}

.case-study-header {
    position: relative;
    display: grid;
    gap: 0em;
    height: 140vh;
    overflow: hidden;
}

#katch-header {
    position: relative;
    z-index: 1;
    background-color: color.scale($katch-color, $lightness: -60%);
    background-image: url('../assets/bg-cross.svg')
    //background: linear-gradient(to bottom, color.scale($katch-color, $lightness: -50%), $black);
}



.case-study-header-info {
    padding-top: 20vh;
    display: grid;
    gap: 1.5em;
    height: min-content;
    width: 25%;
    margin: auto;
    text-align: center;

    > h1::after {
        content: none;
    }
    > h3 {
        color: $white;
        line-height: 150%;
    }
}

#katch-head-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    gap: 2em;
    padding: $desktop-padding;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    margin: auto;
    img {
        position: relative;
        max-width: calc( (100vw - 4em - 10vw) / 3);
        height: 250%;
        object-fit: contain;
        transition: transform 1.5s ease-in;
        &:nth-child(2) {
            margin-bottom: 20%;
        }
    }
}

.case-study-head-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: $desktop-padding;
    padding-bottom: 0;
    width: 100vw;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: red;
    img {
        position: relative;
        object-fit: contain;
        width: 70vw;
        top: 20%;
        border-radius: 0.5em;
    }
}

.case-study-header-img {
    display: flex;
    justify-content: center;
    max-width: 85%;
    height: auto;
    margin-left: auto; margin-right: auto;
    border-radius: 0.5em;
    bottom: 0%;
    img {
        width: 100%;
    }
}


#sismo-header {
    position: relative;
    z-index: 1;
    background-color: color.scale($sismo-color, $lightness: -60%);
    background-image: url('../assets/bg-square.svg');
}

#sismo-header-img {
    position: relative;
    top: 15%;
    border-color: $sismo-border-color;
    box-shadow: 0px 0px 18px 2px $sismo-border-color;
}

#tomo-header {
    position: relative;
    z-index: 1;
    background-color: color.scale($tomo-color, $lightness: -60%);
    background-image: url('../assets/bg-square.svg');
}

#tomo-header-img {
    position: relative;
    max-width: 30vw;
    top: 15%;
    border-color: $tomo-color;
}

#focusmate-header {
    position: relative;
    z-index: 1;
    background-color: color.scale($focusmate-color, $lightness: -60%);
    background-image: url('../assets/bg-square.svg');
}

#focusmate-header-img {
    position: relative;
    top: 15%;
    border-color: $focusmate-color;
    box-shadow: 0px 0px 18px 2px $focusmate-color;
}

#paro-header {
    position: relative;
    z-index: 1;
    background-color: color.scale($paro-color, $lightness: -80%);
    background-image: url('../assets/bg-square.svg');
}

#paro-header-img {
    position: relative;
    top: 5%;
    border-color: $paro-color;
    box-shadow: 0px 0px 18px 2px $paro-color;
}

#vidbib-header {
    position: relative;
    z-index: 1;
    background-color: color.scale($vidbib-color, $lightness: -90%);
    background-image: url('../assets/bg-square.svg');
}

#vidbib-header-img {
    position: relative;
    top: 15%;
    border-color: $vidbib-color;
    box-shadow: 0px 0px 18px 2px $vidbib-color;
}

#nyala-header {
    position: relative;
    z-index: 1;
    background-color: $dark-gray;
    background-image: url('../assets/bg-square.svg');
    height: 100vh;
}

.emp-text {
    color: $white;
    //width: fit-content;
}

.case-study-content {
    display: grid;
    align-items: start;
    gap: 1.5em;

    
    a {
        font-weight: 500;
        &::after {
            content: " ↗ "
        }
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: .1em;
        color: $white;
    }

    p {
        line-height: 170%;
    }

}


.case-study-page {
    display: grid;
    gap: 5em;
    width: 70vw;
    border-left: 1px $dark-gray solid;
    border-right: 1px $dark-gray solid;
    margin: 0 15vw 0 15vw;
    padding-top: 5em; padding-bottom: 5em;
    background-color: $black;

    img {
        width: 100%;
        border-radius: 0.5em;
    }
}


.feature-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    img {
        max-width: 80%;
    }
    .ab-test {
        max-width: 60%;
    }
    .tomo-feature {
        max-width: 60%;
    }
    
    .feature-description {
        display: grid;
        gap: .5em;
        margin: auto 0 auto 0;
        & > h3 {
            color: $white;
        }
    }
}

#disclaimer {
    display: grid;
    gap: 0.5em;
    background-color: $dark-gray;
    padding: calc($desktop-padding / 4);
    border-radius: 0.5em;
}

#about-content {
    display: flex;
    gap: 5%;
}

#about-left {
    width: 60%;
}

#about-right {
    width: 35%;
}

#previous-experiences {
    display: grid;
    gap: 1em;
    a::after {
        content: none;
    }
}


.exp-img {
    padding: 7.5vh;
    background: $dark-gray;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    transition: padding 0.5s ease-in;
    img {
        transition: filter 0.5s ease-in;
        height: 15vh;
        width: auto;
        filter: saturate(0);
    }
    &:hover {
        img {
            filter: saturate(1);
        }
    }
}

#gd-img {
    width: 100%;
    border-radius: 0.5em;
    border: 0.25vh $orange solid;
    box-shadow: 0px 0px 0px $orange;
    transition: box-shadow 0.5s ease-in -0.05s, border-width 0.5s ease-in, filter 0.5s ease-in;
    filter: saturate(0);
    &:hover {
        box-shadow: 0px 0px 18px 2px $orange;
        border-width: 0;
        filter: saturate(1);
    }
}

.contact {
    border-bottom: none;
    border-top: 1px $dark-gray solid;

}

@keyframes moveBackground {
    0% {
        top: 0vh;
    }
    50% {
        top: -100vh;
    }
    100% {
        top: -200vh;
    }
}

@keyframes into-view {
    0% {opacity: 0%; transform: translateY(-.25em);}
    100% {opacity: 100%; transform: translateY(0em);}
}

.moving-bg-inside {
    animation: moveBackground 100s linear infinite;
}

@keyframes to-top-rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes to-top-rotate-in {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

@media(max-width: 700px) {
    * {
        $base-font-size: 16px;
        $typo-scale: 1.25;
        margin: 1.5% 2.5%;
    }

    #navbar {
        visibility: hidden;
    }

    #hero-headline {
        line-height: 100%;
    }

    #hero-description {
        width: 100%;
    }

    div {
        max-width: 100%;
    }

    .case-study-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .case-study-card {
        height: 30vh;
    }

    #hero-headline {
        line-height: 100%;
        font-size: 2.8rem;
        #emp {
            font-size: 3rem;
        }
    }
}

